<dl>
  <dt>Specification Lead:</dt>
  <dd><a href="https://twitter.com/inadarei">Irakli Nadareishvili</a></dd>
  <dt>Authors:</dt>
  <dd><a href="https://twitter.com/inadarei">Irakli Nadareishvili</a>,
      <a href="https://github.com/randallsquared">Randall Randall</a></dd>
  <dt>Status:</dt>
      <!--<dd><span class="reg-approved">Preparing for IANA Submission</span></dd>-->
      <dd><span class="reg-draft">Preparing for IANA Submission</span></dd>
  <dt>Dates:</dt>
  <dd>
    2017-12-16 (Created)<br>
  </dd>
  <dt>Proposed IANA Mime Type:</dt>
  <dd><code>application/vnd.hyper+json</code></dd>
  <dt>Supported H-Factors:</dt>
  <dd><a href="http://amundsen.com/hypermedia/hfactor/#LE">[LE]</a>,
      <a href="http://amundsen.com/hypermedia/hfactor/#LO">[LO]</a>,
      <a href="http://amundsen.com/hypermedia/hfactor/#LT">[LT]</a>,
      <a href="http://amundsen.com/hypermedia/hfactor/#LN">[LN]</a>,
      <a href="http://amundsen.com/hypermedia/hfactor/#LI">[LI]</a>,
      <a href="http://amundsen.com/hypermedia/hfactor/#CR">[CR]</a>,
      <a href="http://amundsen.com/hypermedia/hfactor/#CU">[CU]</a>,
      <a href="http://amundsen.com/hypermedia/hfactor/#CM">[CM]</a>,
      <a href="http://amundsen.com/hypermedia/hfactor/#CL">[CL]</a>
  </dd>
</dl>
