<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/lib/pygments/tango-mod.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/typedef.css" type="text/css">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/spec">Specification</a></li>
          <li class="dropdown">
            <a href="/examples" class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true" aria-expanded="false">Examples<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/example-comparisions/hal">HAL</a></li>
              <li><a href="/example-comparisions/uber">UBER</a></li>
              <li><a href="/example-comparisions/siren">Siren</a></li>
              <li><a href="/example-comparisions/coljson">Collection+JSON</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/examples">All Examples</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
        {{ content }}
    </div><!-- /.container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </body>
</html>
